#pageDetails {
	margin-bottom: 40px;
}

#pageDetails > div {
}
#pageDetails img {
	width: 100%;
}

.contentList {
	width: 75%;
	float: right;
}

.controls {
	position: fixed;
	left: 0;
	top: 0;
	width: 24%;
	height: 100%;
	background-color: #b2d6ab;
	padding: 0 28px;
	box-sizing: border-box;
}

.controls h4 {
	margin: 10px 0;
}

.controls input[type='text'] {
	width: 100%;
	height: 30px;
	margin: 15px 0;
}

.controls .btn {
	cursor: pointer;
	padding: 10px;
	background-color: #fff;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

.controls #update {
	position: absolute;
	bottom: 20px;
	left: 28px;
	right: 28px;
}

.hidden.hidden {
	display: none;
}

.content {
	width: 95%;
	margin: 20px auto;
	/*height: 100px;*/
	overflow: hidden;
	background-color: beige;
	user-select: none;      
}

.content.edited {
	border: 2px dashed blue;	
}
.content.deleted {
	border: 2px dashed red;	
}

.content.moving {
	opacity: 0.5;
}


.content * {
	display: block;
	float: left;
	vertical-align: middle;
	cursor: default;
	user-select: none;           
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* IE/Edge */
	-webkit-touch-callout: none; /* iOS Safari */     
}

.content img, .content textarea, .content video {	
	height: 100px;
	draggable: false;
}

.content span, .content select {	
	height: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	line-height: 20px;
}

img {
	cursor: pointer;
}

.content img:hover, .content video:hover {
	height: 400px;
}

.content span {
	margin-left: 10%;
}
.content select {
	margin-left: 10px;
}

.content textarea {
	width: 40%;
}

.content .delete {
	margin-top: 35px;
	margin-bottom: 35px;
	padding: 5px;
	float: right;
	width: 12%;
	cursor: pointer;
	background-color: rgb(200, 200, 200);
	margin-left: 0;
}

#update {
	cursor: 
}