<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type='text/javascript' src='/script/jquery-1.12.3.min.js'></script>
		<script type='text/javascript' src='/script/DOM.js'></script>
		<script type='text/javascript' src='/script/Updater.js'></script>
	</head>
	<body>
		{% for content in pageContent %}
		  <div id='{{content.id}}' data-type='{{ content.type }}' class='content'>
		  	{% if content.type == 'p' %}
		  		<textarea>{{ content.content }}</textarea>
		  		<span class="delete">Delete</span>
		  	{% endif %}
		  </div>
		{% endfor %}
		<div>
			<!-- <select>
				<option value='text'>Text</option>
			</select> -->
			<span id="add">Add</span>
		</div>
		<div>
			<button id="update">Update</button>			
		</div>
	</body>
</html>