<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="css/theme.css">
		<link rel="stylesheet" type="text/css" href="css/home.css">
		<script type='text/javascript' src='/script/jquery-1.12.3.min.js'></script>
		<script type='text/javascript' src='/script/js.cookie-2.2.0.min.js'></script>		
		<script type='text/javascript' src='/script/toolbox.js'></script>
		<script type='text/javascript' src='/script/home.js'></script>
	</head>
	<body>
		<div class='controls'>
			<h1>Sections</h1>
			{% for section in sections %}
				<h5 id='{{section.id}}'{% if !section.isParent %} class='page{% if !section.visible %} hidden{% endif %}'{% else %} class='section'{% endif %}>{{section.name}}</h5>
			{% endfor %}
		</div>
		<div id='pageContainer' class='contentList' data-id=''>
		</div>
		<div id='loader'></div>
	</body>
</html>
