<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="css/login.css">
		<script type='text/javascript' src='/script/jquery-1.12.3.min.js'></script>
		<script type='text/javascript' src='/script/login.js'></script>
	</head>
	<body>
		<div>
			<input type='text' placeholder='Enter your username' id='username' />
			<input type='password' placeholder='Enter your password' id='password' />
			<p id='errorMsg'></p>			
			<input type='button' id='login' value='Login' />		
		</div>
	</body>
</html>
