.section{
	float: left;
	width: 14%;
	text-align: center;
}
.section h5 {
	font-weight: bold;
    border-bottom: 2px solid black;
    line-height: 50px;
    background-color: #dddddd;
    margin: 5px;
}
.section p {
	cursor: pointer;
	margin: 5px;
	line-height: 40px;
}
.section p.add {
	background-color: #16e81a;
}

.page, .add {
	cursor: pointer;
}

.hide {
	border: 1px solid red;
}

.show {
	border: 1px solid green;
}