h1 {	
    color: white;
    font-size: 40px;
    font-weight: normal;
}

.controls h5 {
	font-weight: normal;
    line-height: 50px;
    background-color: #abc9d6;
	text-align: center;	
	box-sizing: border-box;
	margin: 10px 0;
    color: white;
	border: 2px solid #365d6d;
	cursor: pointer;
}

.controls h5.page {
    background-color: #f1f1f1;
    color: black;

}

.page:hover {
	background-image: url('../img/edit.png');
    background-size: 20px;
    background-position: 98% 50%;
    background-repeat: no-repeat;	
}

.controls h5:first-of-type {
	background-color: #365d6d;
	/*border-color: #FF7043;*/
}

.contentList {
	display: none;
}


.contentList:nth-of-type(2) {
	display: block;
}

.content {
	height: 60px;
	margin: 10px auto;
	line-height: 60px;
	text-align: center;
}

.add {
	margin: 20px auto;
	background-image: url('../img/add.png');
    background-size: 30px;
    background-position: 99% 50%;
    background-repeat: no-repeat;
    border-color: #ffb097;
    font-weight: bold;
	background-color: #ffb097;
	color: white;
}


.hidden {    
	background-image: url('../img/hidden.png');
    background-size: 20px;
    background-position: 98% 50%;
    background-repeat: no-repeat;
}