<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="/css/theme.css">
		<link rel="stylesheet" type="text/css" href="/css/home.css">		
	    <script type='text/javascript' src='/script/jquery-1.12.3.min.js'></script>
	    <script src="https://unpkg.com/react@15.3.1/dist/react.js"></script>
		<script src="https://unpkg.com/react-dom@15.3.1/dist/react-dom.js"></script>
	    <script id='contentJSON' type="application/json">{{JSON.stringify(content)}}</script>
	</head>
	<body>
		<div id='container'>
			<!-- React goes here -->
		</div>		
	    <script type="text/javascript" src="/script/home.js"></script>	
	</body>
</html>
