<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- <link rel="stylesheet" type="text/css" href="css/style.css">
		<script type='text/javascript' src='/script/jquery-1.12.3.min.js'></script>
		<script type='text/javascript' src='/script/DOM.js'></script>
		<script type='text/javascript' src='/script/Updater.js'></script> -->
	</head>
	<body>
		{% for section in sections %}
		  	<div id={{section.id}}>
				<h5>{{section.name}}</h5> 
				{% if section.pages %} 
					{% for page in section.pages %} 	
						<p id={{page.id}}>{{page.name}}</p>
					{% endfor %}
					<p class='add' data-section_id={{section.id}}>Add</p>
				{% endif %}
			</div>
		{% endfor %}
	</body>
</html>